<div class="inventory-pages">
    <div class="enter-or-find">
        <div class="center-it"><h1>What Do You Want to Do Today?</h1></div>
        <div class="row mtop-50">
            <div class="col-md-6 center-it"><%= link_to "Add a Book", enter_book_path, class: "btn btn-success" %></div>
            <div class="col-md-6 center-it"><%= link_to "Find a Book", find_book_path, class: "btn btn-primary" %></div>
        </div>
    </div>
</div>
